<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome">
    <title>GDP vs. Quality of Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/mainHW12.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Work+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <!-- Link Ref for CSS -->

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- script for navbar transition -->
    <script>
        $(document).ready(function() {
            var header = $(".navbar");
            var link = $(".link-nav");
            var brand = $(".brand");
            var nnn= $("#nnn")
        
            $(window).scroll(function() {    
                var scroll = $(window).scrollTop();
                if (scroll >= 320) {
                    header.addClass("nav-scrolled");
                    link.addClass("link");
                    brand.addClass("brand-scrolled");
                    nnn.addClass("nnn-scrolled")
                } else {
                    header.removeClass("nav-scrolled");
                    link.removeClass("link");
                    brand.removeClass("brand-scrolled");
                    nnn.removeClass("nnn-scrolled")

                }
            })
        });
    </script>

    <!-- script for scroll down arrow -->
    <script>
        $(function() {
            $('a[href*=\\#]').on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
            });
        });
    </script>

    <!-- script for highlighting link on scroll -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141011967-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141011967-1');
    </script>
    
    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
  

</head>

<header>
        <nav class="navbar fixed-top navbar-expand-lg">
                <div id="nnn" class="container-fluid">
                   <a class="navbar-brand brand-link" href="#"><div class="brand">QUALITY OF LIFE</div></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>   
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#Choropleth"><div class="link-nav">Choropleth Map</div></a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="#Plotly"><div class="link-nav">Bubble Chart</div></a>
                            </li> 
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#Bar"><div class="link-nav">Bar Chart Race</div></a>
                            </li> 
                            
                            <li class="nav-item">
                                    <a class="nav-link" href="#Line"><div class="link-nav">Comparison</div></a>
                                </li> 
                        </ul> 
                    </div>
                </div>
            </nav>
            <div id="hero" class="view">
    
                    <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                        <div class="row d-flex justify-content-center text-center">
                            
                            <div class="col-md-12">
                        
                                    <div class="media" >
                                        <div class="media-body">
                                            <h5 class="display-4 font-weight-bold text-center col-md-12 mt-7  "><div class="me"> Quality of Life</div></h5>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                    <br>
                                 
                            </div>
                           
                            <div class="col-md-8">
                                    <div id="hi" class="container-fluid text-center col-md-8">
                                            Our question using visualization, is trying to answer is GDP per capita a good gauge on overall well-being of a country? Is the ability of an average person in a population to purchase goods and services PARALLEL a measure of well-being? In another word, does money buy you happiness?                        
                        
                                        </div>
                                </div>
                           
                        </div>
                        
                    </div>
                    
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <section id="section02" class="demo" style="text-align:center;">
                                    <a href="#Choropleth"><i id="arro" class="fa fa-angle-double-down" style="font-size:36px;color:white"></i>
                                    </a>
                                </section>
                            </div>
                                
                        </div>
                    </div>
                </div>
                <br>
                </header>
    

</header>

<body>


<hr>

    <div id="bbb" class="container-fluid">
        <section id="Choropleth">
                <br><br><br><br>

                <br><br>
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-6 text-left">
                <br>
                <!-- start slipsum code -->
                <p> We found that GDP per capita does usually couple with a better life. However this is not always true especially between rich countries. Amongst developing nations there can also be large differences. Russia and Mexico have a very similar GDP per capita index 8.9k and 8.8k respectively yet Russia has a 49-point deficit on quality of life. Unsurprisingly there are other factors at play here.</p>
                    <p>Also look at United States and Canada. They are in the same scale for quality of life index, but GDP per capita in USA is a couple scales higher than Canada. From 2012-2016 most countries improve a little on both quality of life and GDP per capita. There are few nice surprises such as China tripling its quality of life score while increasing its GDP per capita by 28%.</p>
                    <p>So does higher GDP per capita indicate higher quality of life? The answer is mostly yes - BUT they are not always parallel.     
                    Click on the map to the right to see your country and year of choice!</p>
                    <br>
                    <p class="code-link"><a class="btn btn-primary btn-lg" href="/choropleth" data-toggle="modal" data-target="#flourish" target="_blank" role="button">Choropleth Map</a>

            </div>
            <div class="col-md-4 picturesRight">
                    <div class="container-fluid col-md-12">
                        <div class="card bg-dark text-white">
                            <div class="card-body p-3">
                                <h3>Choropleth Map - GDP vs. Quality of Life</h3>
                                <a href="/choropleth"><img src="../static/images/map_preview.PNG" class="img-fluid img-responsive"></a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </section>
        <br><br><hr>>

        <section id="Plotly">
                <br><br><br>
        <div class="row d-flex justify-content-center text-center">
            
                <div class="col-md-4 picturesLeft">
                        <div class="container-fluid col-md-12">
                            <br><br>
                            <div class="card bg-dark text-white">
                                <div class="card-body p-3">
                                    <h3>Scatter Plot - GDP vs. Quality of Life</h3>
                                    <a href="/plotly"><img src="../static/images/scatter_preview.PNG" class="img-fluid img-responsive"></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-6 text-left">
                        <br><br><br>
                        <p>We see a large jump in 2016 probably due to a strengthening US economy and a general rally in most stock markets.</p>
                        <p>Noteworthy countries in this chart are China and India with once great strides on quality of life.  China jumped 83 points from 2015-2016. India improved by 30 points. The Asian average QLI 48 in 2012 and 112 in 2016 a 48 point increase.</p>
                        <p>The average QLI for all countries in 2012 was 77 and in 2016 it was 145. This increase in our data is not only due to strength. The 68-point increase due to the data dropping some of the low qii nations in 2016).</p>
                        <p>In 2012, bubbles are spread out. However, as we slide the year to 2016 (play chart), the continents aggregate in the higher quality of life while slope is not getting any steeper. Overall the world has been moving in a positive direction. </p>
                        <p>Click on the picture to the left to see the model. Feel free to use the widget on the bottom to change the year and the menu on the right to select continents.</p>
                        
                        <br>
                        <p class="code-link"><a class="btn btn-primary btn-lg" href="/plotly" data-toggle="modal" data-target="#flourish" target="_blank" role="button">Bubble Chart</a>

                        <!-- end slipsum code -->
                </div>
        </div>
        </section>

        <br><br><hr><br>
        <section id="Bar">

        <div class="row d-flex justify-content-center text-center">
                <div class="col-md-6 text-left">
                    <br><br><br><br><br>
                    <!-- start slipsum code -->
                    <p>For a third way to compare countries and GDP per capita over time we used Flourish to make a running bar chart. We can more clearly see the high GDP per capita and high quality of life index and how they differ.</p>
                    <p>Some interesting observations are Qatar and Singapore both have higher GDP per capita than USA or Denmark. However, you don’t see Qatar or Singapore in the top 10 for quality of life. </p>
                    <p>Also the change is not proportional. Increasing GDP per capita does not lead to even close of the same increases in quality of life. A good example it the delta of the riches to bottom 10 countries is vastly different.  Over 30% increase in GDP, however, the delta is less than 10% for quality of life. </p>
                    <p>Click on the picture or button on the right to see the running charts! </p><br>
                    <p class="code-link"><a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#flourish" target="_blank" role="button">Bar Chart Race</a>
                    <!-- end slipsum code -->

                    
                </div>

                
                
                <div class="col-md-4 picturesRight">
                    <div class="container-fluid col-md-12">
                            <br><br><br><br>

                        <div id="racec" class="card-list visualizations bg-dark" style="align-content: center">
                                <div class="card-body p-3">

                            <div class="flourishHover clickableImg">
                                <h3>Bar Chart Race</h3> 
                                <img src="../static/images/flourish.PNG" class="img-fluid img-responsive" data-toggle="modal" data-target="#flourish">
                            </div></div>
                        </div>
                    </div>
                </div>



                <div class="modal fade" id="flourish" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">FLOURISH ANIMATION GRAPHS</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            
                            <div class="modal-body">
                                    <div class="container-fluid">
                                            <div class="row">

                                <div class="card col-md-4" style="width: 18rem;">
                                    <img class="card-img-top vizThumb img-fluid img-responsive" src="../static/images/GDP.png" alt="Card image cap">
                                        
                                        <div class="card-body p-3">
                                            <h5 class="card-title"><strong>GDP 2012-17</strong></h5>
                                            <p class="card-text">GDP per capita is income for an entire economy divided by it’s population. It’s frequently cited when assessing standard of living.</p>
                                     
                                            <a href="/GDPRaceChart" class="btn btn-primary mb-auto">Run GDP</a>
                                        </div>
                                </div>
                                
                                <div class="card col-md-4" style="width: 18rem;">
                                    <img class="card-img-top vizThumb img-fluid img-responsive" src="../static/images/flourish.PNG" alt="Card image cap">
                                        <div class="card-body p-3">
                                            <h5 class="card-title"><strong>GDP:QoL Ratios</strong></h5>
                                            <p class="card-text">Combination score is a ratio that multiplied both GDP per capita and Quality of life index and divided by the highest score of that year.</p>
                                         
                                            <a href="/CombineRaceChart" class="btn btn-primary mb-auto">Run GDP/QoL Ratio</a>
                                        </div>
                                </div>
                                
                                <div class="card col-md-4" style="width: 18rem;" text-align="center">
                                    <img class="card-img-top vizThumb img-fluid img-responsive" src="../static/images/QoL.png" alt="Card image cap">
                                        <div class="card-body p-3 ">
                                            <h5 class="card-title"><strong>QoL Index 2012-17</strong></h5>
                                            <p class="card-text">Quality of Life Index by Numbeo is an overall score of living conditions including cost of living, housing indicators, health care, traffic, crime and pollution.</p>
                                            <a href="/QLIRaceChart" class="btn btn-primary mb-auto">Run QoL</a>
                                        </div>
                                </div>
</div>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
                <section id="Line">

                <div class="row d-flex justify-content-center text-center">
                        <div class="col-md-12"><br></bt><br><hr><br>
                    </div>
                    <div class="col-md-4 picturesLeft2">
                            <br><br><br><br>

                        <div class="container-fluid col-md-12">
                            <div class="card bg-dark text-white">
                                <div class="card-body p-3">
                                    
                                    <h3>GDP vs. Quality of Life: By Country</h3>
                                    
                                    <a href="/chart"><img src="../static/images/compchart.PNG" class="img-fluid img-responsive" align="left"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 text-left">
                            <br><br><br><br><br>
                            <!-- start slipsum code -->
                         <p>GDP alone is not a good proxy of a country’s well-being.</p>
                         <p>One’s purchasing power doesn’t represent happiness and when we talk about standard of living, a quality of life-index should always be a factor in the conversation.
                            </p><p>GDP doesn’t tell the whole story when characterizing well-being in a country. So this can mean at a certain point the incremental increase of GDP doesn’t magnify with the same increase in happiness.
                                </p>
                            
                            <p>Some more research we’d like to do with machine learning later on is, is there an incremental increase in quality of life per increase in GDP? And does a country’s happiness “cap-out” at a certain GDP? </p>
                            <!-- end slipsum code -->

                            <br>
                    <p class="code-link"><a class="btn btn-primary btn-lg" href="/chart" data-toggle="modal" data-target="#flourish" target="_blank" role="button">Comparison</a>
                        </div>            
                </div>     
                </section>

        </div>
    </div>
    <br>
    <br>
    <br>
    <script>d3.select(".clickableImg")
        .on("click", function() {
            console.log("test");
            d3.selectAll(".modal")
                .classed("hidden", false);
        });        
            </script>
</body>

<footer>
    <!-- AOS  -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js">
